<%- include('partials/header') %>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-10 mt-2 mb-3">
            <button type="button" class="btn btn-success btn-block" data-toggle="modal" data-target="#new-recipe">Create New Recipe</button>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="new-recipe" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">New Recipe</h5>
                        <button type="button" class="close" data-dismiss="modal">
                            <span>&times;</span>
                        </button>
                    </div>
                    <form method="POST" action="/add">
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="name">Recipe Name</label>
                                <input type="text" class="form-control" id="name" name="name">
                            </div>
                            <div class="form-group">
                                <label for="ingredients">Ingredients</label>
                                <textarea type="text" class="form-control" id="ingredients" name="ingredients"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="directions">Directions</label>
                                <textarea type="text" class="form-control" id="directions" name="directions"></textarea>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- recipes -->
        <% recipes.forEach(recipe => { %>
            <div class="col-10 mb-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <h5 class="card-title">
                                <%= recipe.name %>
                            </h5>
                            <a href="#r<%= recipe.id %>" data-toggle="collapse" class="btn btn-outline-primary expand-btn">
                                <i class="fas fa-caret-down"></i>
                            </a>
                        </div>
                        <div class="collapse" id="r<%= recipe.id %>">
                            <h6 class="card-subtitle text-muted font-italic mt-3 mb-2 ">Ingredients</h6>
                            <p class="card-text">
                                <%= recipe.ingredients %>
                            </p>
                            <h6 class="card-subtitle text-muted font-italic mt-3 mb-2">Directions</h6>
                            <p class="card-text">
                                <%= recipe.directions %>
                            </p>
                            <div class="d-flex justify-content-end">
                                <a href="#" class="btn btn-outline-info mr-3">
                                    Edit
                                </a>
                                <a href="#" class="btn btn-outline-danger">
                                    Delete
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <% }) %>
    </div>
</div>

<%- include('partials/footer') %>